@charset "utf-8";
/* CSS Document */

#nav {margin:0 auto;
		 width:1000px;
		 height:100px;
		 background-color:#EBEBEB;}

		
	.left{float:left}
	.right{float:right}
	.head{ height:90px; 
		}
	.main{width:1000px;
		
		background-color:#373737;}		
		
	ul{list-style:none;
		
		padding: 8px 0;
		
		margin:0;
	}
	
	li { font-size:14px;
		font-weight:bold;
		padding:0 15px;
		display:inline;
		background:url(../%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/forumMenuBg.gif) no-repeat right;
		}
		
		
		
	a {color:#fff; text-decoration:none;}