@charset "utf-8";
/* CSS Document */
body{ background-color:#ECE5DD;
	  font-size:12px;}
#beauty{ width:260px;
		 background-color:#FFF;}

#beauty h1{ font-size:16px;
			font-weight:bold;
			background-color:#E9185A;
			line-height:35px;
			color:#FFF;
			padding-left:10px;}
ul{ list-style-type:none;
	padding:0;
	margin:0;}
ul li{ line-height:25px;
		border-bottom:1px dashed #A4A4A4;}
ul li span{ background:url(../%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/dot_01.gif) no-repeat 1px center;
			padding:10px;
			color:#FFF;
			font-weight:bold;}
ul li div{ display:none;
	       text-align:center;}
a{ color:#696969;
	text-decoration:none;}
a:hover{ color:#F91260;}
#beauty a:hover span{ background:url(../%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/dot_02.gif) no-repeat 1px center;}
#beauty a:hover div{ display:block;}