<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.emp.mapper.DeptMapper">
  	<select id="queryDept" resultType="DeptInfo">
  		select * from dept
  	</select>
  	
  	<select id="queryDeptByNo" resultType="DeptInfo" >
  		select * from dept where deptno = #{deptno}
  	</select>
  </mapper>
